<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <title>Access Denied</title>
</head>

<body class="bg-light">
    <div class="container text-center">
    <img src="https://www.memecreator.org/static/images/memes/5219964.jpg" width="50%"  alt="gandalf meme">
    <h1>This page is off limits!</h1>
    <a class="btn btn-success" th:href="@{/}">go back home</a>
</div>
</body>

</html>