<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<meta charset="ISO-8859-1">
<title>Add a New Customer</title>
</head>
<body>
<div class="container bg-light">
    <h1>Add Customer</h1>
    <form class="form-horizontal text-center" th:action="@{/admin/add-customer-post}" method="POST" th:object="${user}">
      <div class="form-group">
        <label class="control-label col-sm-2" for="name">Customer Name :</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" th:field="*{name}" placeholder="customer name">
        </div>
        <label class="control-label col-sm-2" for="name">Username :</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" th:field="*{username}" placeholder="username">
        </div>
        <label class="control-label col-sm-2" for="name">Password :</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" th:field="*{password}" placeholder="password">
        </div>
        <div class="col-sm-10">
          <input class="form-control" type="hidden" th:field="*{roles}" placeholder="roles" value="USER">
        </div>
      </div>
      <button class="btn btn-default" type="submit">Add Customer</button>
      </div>
    </form>
</div>
</body>
</html>