<!-- <!DOCTYPE html>
<html>
<head>
<style>
h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;

}
p  {
  color: red;
  font-family: courier;
  font-size: 160%;
}
</style>
</head>
<body>

<h1>Add Customer</h1>

<form th:action = "@(/customers/add-customer)" th:object="{customer}" method="post" >
    <label for="id">Customer ID</label>
    <input id="id" type="text" name="ID">
    <label for="name">Name of the Customer</label>
    <input type="text" name="Name" id="name">
    <input type="submit" value="Add Customer">
</form>

</body>
</html>
 -->


 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<meta charset="ISO-8859-1">
<title>Add a New Customer</title>
</head>
<body>
<div class="container">
    <h1>Add Customer</h1>
    <form class="form-horizontal text-center" th:action="@{/customers/add-customer}" method="POST" th:object="${customer}">
      <div class="form-group">
        <label class="control-label col-sm-2" for="name">Customer Name :</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" th:field="*{name}" placeholder="customer name">
        </div>
      </div>
      <button class="btn btn-default" type="submit">Add Customer</button>
      </div>
    </form>
</div>
</body>
</html>