<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <meta charset="ISO-8859-1">
  <title>Add a New Customer</title>
</head>

<body>
  <div class="container bg-light text-center">
    <h1>Add Customer</h1>
    <div class="text-right">
      <a class="btn btn-primary align-self-end" th:href="@{/}">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-house"
          viewBox="1 -3 18 18">
          <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
          <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
        </svg>Back to Main Menu
      </a>
    </div>
    <br>
    <form class="form-horizontal text-center" th:action="@{/admin/add-customer-post}" method="POST" th:object="${user}">
      <div class="form-group">
        <label class="control-label col-sm-2" for="name">Customer Name :</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" th:field="*{name}" placeholder="customer name">
        </div>
        <label class="control-label col-sm-2" for="name">Username :</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" th:field="*{username}" placeholder="username">
        </div>
        <label class="control-label col-sm-2" for="name">Password :</label>
        <div class="col-sm-10">
          <input class="form-control" type="password" th:field="*{password}" placeholder="password">
        </div>
      </div>
      <button class="btn btn-default" type="submit">Add Customer</button>
  </div>
  </form>
  </div>
</body>

</html>