<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;

}
p  {
  color: red;
  font-family: courier;
  font-size: 160%;
}
</style>
</head>
<body>

<h1>Home Page :)</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nunc nunc, vestibulum vitae turpis in, tempus mollis velit. Sed scelerisque massa a est tempus, vitae dapibus eros pretium. Cras sit amet urna mi. Duis mattis iaculis dolor nec lobortis. Curabitur augue est, semper sed commodo sit amet, vehicula ac erat. Proin ultricies justo in fringilla pretium. Nunc nibh tortor, semper in est in, tincidunt facilisis neque. Maecenas quis tincidunt ante. Sed at egestas odio. In semper nisi dui, sagittis dignissim justo laoreet id. Aenean cursus porta diam a condimentum.</p>

  <p>sit amet orci tellus. Morbi auctor hendrerit metus nec tempus. Proin quis vulputate velit. Sed molestie sem quam, a tincidunt erat vehicula nec. Praesent ut turpis ut erat efficitur facilisis. Vivamus sollicitudin sed augue at bibendum. In hac habitasse platea dictumst. Vivamus gravida vulputate fermentum. Aliquam erat volutpat. Aenean risus ante, dictum feugiat semper id, porttitor non lorem.</p>
  
  <p>Fusce augue diam, lacinia ac dui in, interdum malesuada elit. Nullam quis luctus erat. Nam tincidunt placerat leo. Nam laoreet lectus non feugiat sodales. Donec congue, ex non elementum fringilla, orci neque posuere eros, in malesuada lectus sem ac elit. Mauris a magna sagittis, pharetra mauris vitae, volutpat leo. Donec ultrices scelerisque ligula lacinia luctus.</p>

</body>
</html>