<!DOCTYPE html>
<html>

<head>
    <title>Main Menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
</head>

<body>
    <div class="container text-center">
        <h1>List of Customers</h1>
        <br>
        <div>
            <table class="table table-striped table-responsive text-center">
                <thead>
                    <tr>
                        <th class="text-center">Customer ID</th>
                        <th class="text-center">Customer Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="customer: ${listcustomers}">
                        <td th:text="${customer.id}"></td>
                        <td th:text="${customer.name}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

</body>

</html>