<!DOCTYPE html>
<html>
<head>
<title>Main Menu</title>
<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>
<body>
<div class="container text-center">
<h1>Choose one of the following actions</h1>
<br>

<div>
  <ul class="nav nav-pills nav-stacked">
  <li><a th:href="@{/add-customer}">Add a Customer</a></li>
  <li><a th:href="@{/customers}">View Customers</a></li>
  <li><a th:href="@{/add-account}">Add Account</a></li>
  <li><a th:href="@{/accounts}">View Accounts</a></li>
  <li><a th:href="@{/add-transaction}">Make a Transaction</a></li>
  </ul>
</div>
</div>

</body>
</html>

